---
layout: base
---
{% include nav.html %}

<div class="layout-{{ page.layout }}" lang="{{ page.lang | default:site.config.lang | default:'en' }}">
    <header {% if page.cover-img %}class="with-cover"{% endif %}>
        <h1 class="title">{{ page.title }}</h1>
        {% if page.subtitle %}<h3 class="subtitle">{{ page.subtitle }}</h3>{% endif  %}

    <span class="date">{{ page.date | date: "%Y-%m-%d" }}</span>
    <span class="tags">
        {% for tag in page.tags %}
        <a href="/blog/tags#{{tag}}">#{{tag}}</a>
        {% endfor %}
    </span><br>
    <br>

        {% if page.cover-img %}
        <div >
            <img class="cover-img" src="{{ page.cover-img[0] | absolute_url }}" alt="{{ page.cover-img[2] }}">
            <div class="imagecaption">
                {{ page.cover-img[1] | markdownify }}
            </div>
        </div>
        {% endif %}
    </header>
    {{ content }}
</div>

<br/>
<br/>

<p class="center-block footer">
    powered by <a href="https://jorge.olano.dev" target="_blank">jorge</a> |
    <a href="/">Home</a> | <a href="/about">About</a> |
    <a href="https://in.nartwork.lk" target="_blank">Podcast</a>
</p>

<script src="/assets/js/copy-btn.js"></script>
