---
layout: default
---
<!--<h2><a href="/about" class="title" id="about">About</a></h2>
<p>Welcome to {{ site.config.name }} by {{ site.config.author }}. <br/>
-->

<h2><a href="#latest" class="title" id="latest">Latest posts</a></h2>

{% for post in site.posts limit:3 %}
{% include post_preview.html %}
{% endfor %}

<p>See the full <a href="/blog">blog archive</a> or subscribe to the <a href="/feed.xml">feed</a>.</p>
<br/>

<h2><a href="#contact" class="title" id="contact">Contact</a></h2>
<ul>
    <li><a href="mailto:contact@damindu.me" target="_blank">@email</a></li>
    <li><a href="https://github.com/libresoul" target="_blank">@github</a></li>
</ul>

<script>
 let seconds = 0;

        function updateUptime() {
            seconds++;
            const hours = Math.floor(seconds / 3600);
            const minutes = Math.floor((seconds % 3600) / 60);
            const remainingSeconds = seconds % 60;

            document.getElementById("uptime").textContent = `${hours} hours, ${minutes} mins, ${remainingSeconds} secs`;
        }

        setInterval(updateUptime, 1000);</script>
